.contact-api-info{
	margin-top: 150px;
	color: #444;
	background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.contact-api-info .inner{
	padding: 20px;
}

.contact-api-info .footer-blue{
	border-top: 0 none;
    background-color: #52ACCC;
    color: #FFFFFF;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
}

.wprac-loading{
    display:none;
    margin-left: 5px;
}

#wprac-message-success, #wprac-message-error{
    display: none;
}

.progress {
 
  width: 100%;
  height: 30px;
}
.wprac-progress-wrap {
  background: #006799;
  overflow: hidden;
  position: relative;
}
.wprac-progress-wrap .progress-bar{
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

#wprac-rest-api-newsletter .select-multi-email{
  display: none;
}

